
  <div class="modal-body">
    <form [formGroup]="editForm">
      <div class="form-group">
        <label for="id">ID</label>
        <input id="id" class="form-control" formControlName="id" >
      </div>
      <div class="form-group">
        <label for="name">Name</label>
        <input id="name" class="form-control" formControlName="name">
      </div>
      <div class="form-group">
        <label for="age">Age</label>
        <input id="age" class="form-control" formControlName="age">
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-primary" (click)="save()">Save changes</button>
  </div>
  